				<!-- Simple statistics -->
				<div class="m-3">
					<h6 class="mb-0 font-weight-semibold">
						Simple stats
					</h6>
				
				</div>

				<div class="row mx-auto">
					<div class="col-sm-6 col-xl-6">
						<div class="card card-body">
							<div class="media">
								<div class="mr-3 align-self-center">
									<i class="icon-book icon-3x text-success-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="font-weight-semibold mb-0">{{cours.length}}</h3>
									<span class="text-uppercase font-size-sm text-muted">total cours</span>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-6 col-xl-6">
						<div class="card card-body">
							<div class="media">
								<div class="media-body">
									<h3 class="font-weight-semibold mb-0">{{comments.length}}</h3>
									<span class="text-uppercase font-size-sm text-muted">total comments</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-bubbles4 icon-3x text-blue-400"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-6">
						<div class="card card-body">
							<div class="media">
								<div class="media-body">
									<h3 class="font-weight-semibold mb-0">{{etudiant.length}}</h3>
									<span class="text-uppercase font-size-sm text-muted">total Etudiants</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-user icon-3x text-danger-400"></i>
								</div>
							</div>
						</div>
                    </div>
                    
                    <div class="col-sm-6 col-xl-6">
						<div class="card card-body">
							<div class="media">
								<div class="mr-3 align-self-center">
									<i class="icon-book icon-3x text-primary-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="font-weight-semibold mb-0">{{formation.length}}</h3>
									<span class="text-uppercase font-size-sm text-muted">total formation</span>
								</div>
							</div>
						</div>
					</div>


        

				</div>