<div class="popular-course section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Most Popular Course Of This Week</span>
                    <h2>Our Popular Course</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div *ngFor="let f of formations" class="col-xl-4 col-lg-4 col-md-6">
                <!-- Single course -->
                <div class="single-course mb-40">
                    <div class="course-img" style="height: 350px;">
                        <img style="height: 100%;" [src]="'http://127.0.0.1/portfolio/assets/'+ f.image" alt="">
                    </div>
                    <div class="course-caption">
                        <div class="course-cap-top">
                            <h6><a>{{f?.titre}}</a></h6>
                        </div>
                        <div class="course-cap-mid d-flex justify-content-between">
                            <div class="course-ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                          
                        </div>
                        <div class="course-cap-bottom d-flex justify-content-between">
                            <ul>
                                <li><i class="ti-user"></i> 562</li>
                                <li><i class="ti-heart"></i> 562</li>
                            </ul>
                            <span *ngIf="f.etat == 0">Free</span>
                            <span *ngIf="f.etat == 1">Premium</span>

                        </div>
                    </div>
                </div>
            </div>
      
        </div>
      
    </div>
</div>