<div class="about-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>More About Our Company</span>
                        <h2>Want to know more</h2>
                    </div>
                    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in some form, by ected humour, or randomised words whi.</p>
                    <ul>
                        <li><span class="flaticon-business"></span> Creative ideas base</li>
                        <li><span class="flaticon-communications-1"></span> Assages of sorem gpsum ilable</li>
                        <li><span class="flaticon-graduated"></span> Have suffered alteration in so</li>
                        <li><span class="flaticon-tools-and-utensils"></span> Randomised words whi</li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="assets/assets/img/gallery/about2.png" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="assets/assets/img/gallery/about1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>